
#nav-menu-full .bg-wrap {
	background: #eeefef;
}#header-modal-text .bg {
    background-image: url('../images/bg-83.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}
#header-form .bg {
	opacity: 0.6;
	background-image: url('../images/uploaded/12/hab6-890x470.jpg');
}